@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
/* font-family: 'Nunito', sans-serif */

/* * {
    padding: 0;
    margin: 0;
} */

.body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to bottom, #90E0EF, #ADE8F4, #CAF0F8, #ADE8F4, #90E0EF)
}

/* HEADER */

.header {
    background: linear-gradient(to right, #90E0EF, #ADE8F4, #CAF0F8);
}

.container-fluid img {
    width: 110px;
    margin-left: 15px;
    filter: grayscale(40%);
    transition: all 0.2s;
}

.container-fluid img:hover {
    filter: grayscale(0%);
}

.navbar-nav li {
    font-weight: 500;
    font-size: 19px;
    padding: 0 7px;
}

/* FOOTER */

.container {
    margin-top: 30px;
}

.container footer ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

.hrFooter {
    margin: 10px;
}

/* Multiuso */

.subtitulos {
    text-align: center;
    padding: 25px 0;
    font-size: 30px;
    color: #023E8A;
    font-weight: 700;
}

/* PÁGINA INDEX */
.row div img {
    width: 400px;
    height: 200px;
}

.videoIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.videoIndex iframe {
    box-shadow: 0px 0px 6px 1px #000;
}

/* PÁGINO ESPORTS */

.reglamento {
    margin: 30px 0;
}

.worldFlex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.shadowCopa {
    box-shadow: 0px 0px 10px 3px #3BA3C5;
}

.teamsFila {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.introduccionReglas {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 20px;
}

.reglamentoList {
    list-style-type: disc;
    margin: 5px 30px;
}

/* PÁGINA REGISTRO */

.cajaRegistro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.cajaRegistro form {
    margin: 15px 0;
}

.inputRegistro {
    display: block;
    margin: 7px auto;
}

.cajaRegistro .labelForm {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.checkbox {
    margin: 7px;
}

.botonEnviar {
    display: block;
    margin: 7px auto;
    padding: 10px 45px;
}

/* PÁGINA JUEGOS */

.juegosFila {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 35px;
    margin: 35px;
}

.shadowJuegos {
    box-shadow: -6px -6px 19px 0px #023E8A;
}

.tituloJuegos {
    font-weight: bold;
    font-size: 30px;
    margin: 5px 0;
}

.generoJuegos {
    font-weight: bold;
}

/* PÁGINA NOTICIAS */

.noticiasMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 35px 0;
}

.noticiasFila {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 35px;
    margin: 35px;
}

/* MEDIA QUERIES */