@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap";
.body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to bottom, #90E0EF, #ADE8F4, #CAF0F8, #ADE8F4, #90E0EF);
}

.subtitulos {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  font-size: 30px;
  color: #023E8A;
  font-weight: 700;
}

.btnTop {
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  right: 25px;
  bottom: 25px;
  background-color: #90D1F0;
  color: #023E8A;
  border: solid 1px lightslategray;
  opacity: 70%;
}

.aTop {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007844;
  color: #fff;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.aTop:hover {
  opacity: 1;
}

.reglamento {
  margin: 30px 0;
}

.worldFlex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.introduccionReglas {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 20px;
}

.reglamentoList {
  list-style-type: disc;
  margin: 5px 30px;
}

.juegosFila {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 25px;
  margin: 35px;
}

.tituloJuegos {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}

.generoJuegos {
  font-weight: bold;
  text-align: center;
  font-size: 17px;
}

.descriptionProximos {
  text-align: center;
  font-size: 17px;
}

.fechaProximos {
  text-align: center;
  font-size: 17px;
}

.noticiasMain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.noticiasFila {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 35px;
  margin: 35px;
}

.h4Noticia {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
}

.h5Noticia {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
}

.noticiasBuff {
  color: #198754;
}

.noticiasNerf {
  color: #dc3545;
}

.noticiasBalances {
  color: #ffa400;
}

.header {
  background: linear-gradient(to right, #90E0EF, #ADE8F4, #CAF0F8, #ADE8F4, #90E0EF);
}

.container-fluid img {
  width: 110px;
  margin-left: 15px;
  filter: grayscale(40%);
  transition: all 0.2s;
}
.container-fluid img:hover {
  filter: grayscale(0%);
}

.navbar-nav li {
  font-weight: 500;
  font-size: 19px;
  padding: 0 7px;
}

.container {
  margin-top: 30px;
}
.container footer ul {
  margin-bottom: 0;
  padding-bottom: 0;
}

.hrFooter {
  margin: 10px;
}

.imgIndex {
  width: 400px;
  height: 200px;
}

.videoIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.videoIndex iframe {
  box-shadow: 0px 0px 6px 1px #000;
}

.imgEquipos {
  width: 200px;
  height: 200px;
}

.imgJuegos {
  box-shadow: 2px 2px 10px 1px #000;
}

.imgNoticias {
  width: 450px;
  height: 450px;
}

.imgNewNoticia {
  margin-top: 10px;
  box-shadow: 2px 2px 10px 1px #000;
}

@media (max-width: 576px) {
  .imgIndex {
    width: 80vw;
    height: auto;
  }
  .imgNoticias {
    width: 300px;
    height: 300px;
  }
  .noticiasMain {
    flex-flow: column nowrap;
    gap: 30px;
  }
  .imgNewNoticia {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px 1px #000;
  }
  .btnTop {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .imgIndex {
    width: 500px;
    height: 250px;
  }
  .noticiasMain {
    flex-flow: column nowrap;
    gap: 40px;
  }
  .imgNewNoticia {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px 1px #000;
  }
  .btnTop {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .imgIndex {
    width: 680px;
    height: 340px;
  }
  .noticiasMain {
    flex-flow: column nowrap;
    gap: 40px;
  }
  .imgNewNoticia {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px 1px #000;
  }
}
@media (min-width: 1200px) {
  .imgIndex {
    width: 350px;
    height: 175px;
  }
  .imgIndexAjuste {
    width: 500px;
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
