//font-family: 'Nunito', sans-serif

@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap";

// *

.body {
	font-family: $font-family_1;
	background: linear-gradient(to bottom, #90E0EF, #ADE8F4, #CAF0F8, #ADE8F4, #90E0EF);
}
.subtitulos {
	@include subtitulos;
}

.btnTop {
	position: fixed;
	width: 40px;
	height: 40px;
	text-align: center;
	right: 25px;
	bottom: 25px;
	background-color: $color_btn_top;
	color: $color_1;
	border: solid 1px lightslategray;
	opacity: 70%;
}

.aTop {
	display: inline-block;
  	padding: 8px 16px;
  	background-color: #007844;
  	color: #fff;
  	text-decoration: none;
  	position: fixed;
  	bottom: 20px;
  	right: 20px;
  	opacity: 0.7;
  	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.aTop:hover {
	opacity: 1;
}

//PAGINA ESPORTS

.reglamento {
	margin: 30px 0;
}
.worldFlex {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.introduccionReglas {
	font-weight: bold;
	font-size: 20px;
	margin: 10px 20px;
}
.reglamentoList {
	list-style-type: disc;
	margin: 5px 30px;
}

//PAGINA JUEGOS

.juegosFila {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	gap: 25px;
	margin: 35px;
}
.tituloJuegos {
	font-weight: bold;
	font-size: 30px;
	margin: 10px 0;
	text-align: center;
}
.generoJuegos {
	font-weight: bold;
	@include parrafoCentrado;
}

.descriptionProximos {
	@include parrafoCentrado;
}

.fechaProximos {
	@include parrafoCentrado;
}

//PAGINA NOTICIAS

.noticiasMain {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.noticiasFila {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 35px;
	margin: 35px;
}
.h4Noticia {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 23px;
}
.h5Noticia {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
}

.noticiasBuff {
	color: $color_buff;
}

.noticiasNerf {
	color: $color_nerf;
}

.noticiasBalances {
	color: $color_balances;
}