.header {
	background: linear-gradient(to right, #90E0EF, #ADE8F4, #CAF0F8, #ADE8F4, #90E0EF);
}
.container-fluid {
	img {
		width: 110px;
		margin-left: 15px;
		filter: grayscale(40%);
		transition: all 0.2s;
		&:hover {
			filter: grayscale(0%);
		}
	}
}
.navbar-nav {
	li {
		font-weight: 500;
		font-size: 19px;
		padding: 0 7px;
	}
}
